
/* PAGE D'ACCUEIL */

.articleAccueil{
	text-align: center;
}

.articleAccueil > img{
	width: 40%;
	border: solid 2px #552583;
	border-radius: 1%;
	box-shadow: 2px 2px 2px #552583;
}

.carousel{
	height: 260px;
	padding: 1rem 0;
}

.similaireContent{
	width: 100%;
	list-style: none;
    display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.carousel-item{
	width: 33%;
	margin: 0 1%;
}

.bienUniqueSimilaire{
	width: 100%;
	margin: 1% 1%;
	background: #FFF;
	border-radius: 15px;
	box-shadow: 2px 2px 2px grey;
	border-top: solid 1px grey;
	border-left: solid 1px grey;
}

.bienUniqueSimilaire > div{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
}

.bienUniqueSimilaire > div > a{
	width: 60%;
	overflow: hidden;
	margin: 1% 1%;
	border-top-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.bienUniqueSimilaire > div > a > img{
	width: 100%;
	height: 160px;
	transition-duration: 1s;
}

.bienUniqueSimilaire > div > a:hover > .spanBien{
	display: block;
	animation: opacity 2s 1 ease-in-out;
}

.bienUniqueSimilaire > div > a:hover > img{
	opacity: .4;
	transform: scale(1.2);
	filter: grayscale(80%);
}


.bienUniqueSimilaire > div > div{
	width: 40%;
	margin: 0 0 0 5%;
}

.bienUniqueSimilaire > div > div > div{
	width: 80%;
	display: inline-block;
	font-size: .75em;
	font-weight: bold;
	background: rgba(104, 104, 104, .15);
	padding: 3% 3%;
}

.spanBien{
	position: absolute;
	display: none;
	left: 23.5%;
	top: 45%;
	font-weight: bold;
	font-size: 1.1em;
	color: black;
	text-shadow: 0 0 0.2em #87F;
	transition-duration: 1s;
}

.texteBien{
	text-align: justify;
	padding: 0 3% 3% 3%;
	font-size: .85em;
}

h3{
	text-align: center;
	margin: 0;
	padding-top: 1rem;
}

.containerGrid{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	background-color: white;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.grid{
	position: relative;
	border: double 0px purple;
	border-radius: 5px;
	display: grid;
	width: 800px;
	background: white;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
	grid-auto-rows: minmax(150px, 0px);
}

.one{
	position: relative;
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.two{
	position: relative;
	grid-column: 3 / 4;
	grid-row: 1;
}

.three{
	position: relative;
	grid-column: 1;
	grid-row: 3;
}

.four{
	position: relative;
	grid-column: 2;
	grid-row: 3;
}

.five{
	position: relative;
	grid-column: 3;
	grid-row: 2 / 4;
}

.grid > div{
	overflow: hidden;
}

.grid > div > img{
	z-index: 1;
	width: 100%;
	transition: all 1s ease;
}

.one > img, .five > img{
	height: 305px;
}

.two > img, .three > img, .four > img{
	height: 150px;
}

.articleHover{
	display: none;
	width: 100%;
	z-index: 100;
	position: absolute;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.3em;
	color: gold;
	text-shadow: 0 0 0.2em rgb(0, 0, 0);
	text-align: center;
	top: 45%;
}

.one:hover > .articleHover, .two:hover > .articleHover, .three:hover > .articleHover, .four:hover > .articleHover, .five:hover > .articleHover{
	display: block;
	animation: opacity 2s 1 ease-in-out;
}

.one:hover > img, .two:hover > img, .three:hover > img, .four:hover > img, .five:hover > img{
	opacity: .4;
	transform: scale(1.2);
	filter: grayscale(80%);
}

@keyframes opacity{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.containPlus{
	text-align: right;
}

.plus{
	text-decoration: none;
	color: black;
	font-size: 1.1em;
	padding: 0.5% 1% 0 0;
}

#conteneurAutreNews{
	background: rgb(247, 247, 247) url("../images/fondGrille.png");
}

/*** Truc class ****************************************************************************************************************************************/

#conteneurAll{
	width: 100%;
    overflow: hidden;
    background-color: black;
    padding-bottom: 2rem;
}

#conteneurTitre{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 3rem;
}

#conteneurTitre > span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4.5rem;
    color: gold;
}

#conteneurTitre > .premierTitre{
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
}

.plusEquipe{
    font-size: 1.5rem;
    padding-top:.5rem;
    padding-bottom:.5rem;
    padding-left:1rem;
    padding-right:1rem;
    text-decoration: none;
    color: white;
    background-color: rgb(228, 208, 99);
    border-radius: 15px  0px;
    transition: all .5s ease-out;
    margin-top: 1rem;
}

.plusEquipe:hover{
    background-color: gold;
    transition: all .5s ease-out;
    border-radius: 25px  0px;
}


#conteneurChoix{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.conteneurChoixSelection{
    width: 50%;
    padding-top: 12rem;
    padding-bottom: 5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.conteneurDivisionPoint{
    width: 16%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.conteneurDivision{
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.divisionIcone{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-transform: uppercase;
    color: rgb(186, 194, 204);
    transition : all .5s ease-in-out;
}

/** Redimension d'image **/

.conteneurDivisionPoint img{
    height: 5rem;
}

/*******/

.logoEquipe{
    filter: grayscale(1);
    width: 100%;
    transition : all .5s ease-in-out;
}

.logoTitre{
    margin-top: .5rem;
}

.trait{
    opacity: 0;
    padding-top: 1rem;
    border: 1px solid black;
}

.conteneurDivisionPoint:hover > .trait{
    opacity: 0;
}

.conteneurDivisionPoint:hover .logoEquipe{
    transform: translateY(-8px);
    filter: grayscale(0);
    transition : all .5s ease-in-out;
}

.conteneurDivisionPoint:hover .divisionIcone{
    color: gold;
    transition : all .5s ease-in-out;
}

.conteneurDivisionPoint:hover .point{
    background-color: gold;
}

.pointIcone{
    display: block;
    position: relative;
    padding : .5rem;
    border-radius: 50%;
}

.point{
    display: block;
    position: relative;
    width: 9px;
    height: 9px;
    background-color: rgb(186, 194, 204);
    border-radius: 50%;
    transition : all .5s ease-in-out
}

.videoDivision{
    display: block;
    position: relative;
    width: 400px;
    height: 180px;
}

.videoDivision>video{
    width: 100%;
}

.dataLecture{
    resize: inherit;
}

.conteneurChoixImage{
    position: relative;
    width: 35%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.cercleInfini{
    position: absolute;
    width: 100%;
    padding-top:100%;
    border: 3px solid;
    border-radius: 50%;
    border-color: gold transparent gold;
    animation : tourne 4s linear infinite;
}

@keyframes tourne{
    100%{
        transform:rotate(360deg)
    }
}

.imageJoueur{
    width: 100%;
    border-radius: 50%;
    opacity: 1;
}

/* PAGE EQUIPES */

.titreEquipe{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
}

.titreEquipe > div{
	width: 10%;
}

.ligne{
	width: 45%;
	height: 0;
	border-top: solid 2px black;
}

.containerEquipe{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	border-top: solid 2px black;
	border-bottom: solid 2px black;
}

.imageEquipe{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	width: 20%;
}

.imageEquipe > img{
	width: 60%;
}

.containerInfosEquipe{
	width: 60%;
}

.containerInfosEquipe > h3{
	text-transform: uppercase;
}

.infosEquipe{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.infosEquipe > div{
	padding: 0 1.5%;
	display: flex;
	flex-flow: row nowrap;
}

.infosEquipe > div > div{
	font-weight: bold;
}

.bilanEquipe{
	width: 20%;
}

.bilanEquipe > div{
	display: flex;
	flex-flow: row nowrap;
}

.bilanEquipe > div > div{
	font-weight: bold;
	padding: 0 1.5%;
}

.positionEquipe{
	font-weight: bold;
	padding: 0 2% 0 0;
}

/************************************************************************************************************************/
