
/* PAGE D'ACCUEIL */

.articleAccueil{
	text-align: center;
}

.articleAccueil > img{
	width: 40%;
	border: solid 2px #552583;
	border-radius: 1%;
	box-shadow: 2px 2px 2px #552583;
}

.carousel{
	height: 260px;
	padding: 1rem 2% 1rem 1%;
}

.similaireContent{
	padding: 0;
	list-style: none;
    display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.carousel-item{
	width: 32%;
	margin: 0 1%;
}

.bienUniqueSimilaire{
	width: 100%;
	margin: 1% 1%;
	background: #FFF;
	border-radius: 15px;
	box-shadow: 2px 2px 2px grey;
	border-top: solid 1px grey;
	border-left: solid 1px grey;
}

.bienUniqueSimilaire > div{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
}

.bienUniqueSimilaire > div > a{
	width: 60%;
	overflow: hidden;
	margin: 1% 1%;
	border-top-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.bienUniqueSimilaire > div > a > img{
	width: 100%;
	height: 160px;
	transition-duration: 1s;
}

.bienUniqueSimilaire > div > a:hover > .spanBien{
	display: block;
	animation: opacity 2s 1 ease-in-out;
}

.bienUniqueSimilaire > div > a:hover > img{
	opacity: .4;
	transform: scale(1.2);
	filter: grayscale(80%);
}


.bienUniqueSimilaire > div > div{
	width: 40%;
	margin: 0 0 0 5%;
}

.bienUniqueSimilaire > div > div > div{
	width: 80%;
	display: inline-block;
	font-size: .75em;
	font-weight: bold;
	background: rgba(104, 104, 104, .15);
	padding: 3% 3%;
}

.spanBien{
	position: absolute;
	display: none;
	left: 23.5%;
	top: 45%;
	font-weight: bold;
	font-size: 1.1em;
	color: black;
	text-shadow: 0 0 0.2em #87F;
	transition-duration: 1s;
}

.texteBien{
	text-align: justify;
	padding: 0 3% 3% 3%;
	font-size: .85em;
}

h3{
	text-align: center;
	margin: 0;
	padding-top: 1rem;
}

.containerGrid{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	background-color: white;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.grid{
	position: relative;
	border: double 0px purple;
	border-radius: 5px;
	display: grid;
	width: 800px;
	background: white;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
	grid-auto-rows: minmax(150px, 0px);
}

.one{
	position: relative;
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.two{
	position: relative;
	grid-column: 3 / 4;
	grid-row: 1;
}

.three{
	position: relative;
	grid-column: 1;
	grid-row: 3;
}

.four{
	position: relative;
	grid-column: 2;
	grid-row: 3;
}

.five{
	position: relative;
	grid-column: 3;
	grid-row: 2 / 4;
}

.grid > div{
	overflow: hidden;
}

.grid > div > img{
	z-index: 1;
	width: 100%;
	transition: all 1s ease;
}

.one > img, .five > img{
	height: 305px;
}

.two > img, .three > img, .four > img{
	height: 150px;
}

.articleHover{
	display: none;
	width: 100%;
	z-index: 100;
	position: absolute;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.3em;
	color: gold;
	text-shadow: 0 0 0.2em rgb(0, 0, 0);
	text-align: center;
	top: 45%;
}

.one:hover > .articleHover, .two:hover > .articleHover, .three:hover > .articleHover, .four:hover > .articleHover, .five:hover > .articleHover{
	display: block;
	animation: opacity 2s 1 ease-in-out;
}

.one:hover > img, .two:hover > img, .three:hover > img, .four:hover > img, .five:hover > img{
	opacity: .4;
	transform: scale(1.2);
	filter: grayscale(80%);
}

@keyframes opacity{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.containPlus{
	text-align: right;
}

.plus{
	text-decoration: none;
	color: black;
	font-size: 1.1em;
	padding: 0.5% 1% 0 0;
}

#conteneurAutreNews{
	background: rgb(247, 247, 247) url("../images/fondGrille.png");
}

/*** Truc class ****************************************************************************************************************************************/

#conteneurAll{
	width: 100%;
    overflow: hidden;
    background-color: black;
    padding-bottom: 2rem;
}

#conteneurTitre{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 3rem;
}

#conteneurTitre > span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4.5rem;
    color: gold;
}

#conteneurTitre > .premierTitre{
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
}

.plusEquipe{
    font-size: 1.5rem;
    padding-top:.5rem;
    padding-bottom:.5rem;
    padding-left:1rem;
    padding-right:1rem;
    text-decoration: none;
    color: white;
    background-color: rgb(228, 208, 99);
    border-radius: 15px  0px;
    transition: all .5s ease-out;
    margin-top: 1rem;
}

.plusEquipe:hover{
    background-color: gold;
    transition: all .5s ease-out;
    border-radius: 25px  0px;
}


#conteneurChoix{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.conteneurChoixSelection{
    width: 50%;
    padding-top: 12rem;
    padding-bottom: 5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.conteneurDivisionPoint{
    width: 16%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.conteneurDivision{
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.divisionIcone{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-transform: uppercase;
    color: rgb(186, 194, 204);
    transition : all .5s ease-in-out;
}

/** Redimension d'image **/

.conteneurDivisionPoint img{
    height: 4rem;
}

/*******/

.logoEquipe{
    filter: grayscale(1);
    width: 100%;
    transition : all .5s ease-in-out;
}

.logoTitre{
    margin-top: .5rem;
}

.trait{
    opacity: 0;
    padding-top: 1rem;
    border: 1px solid black;
}

.conteneurDivisionPoint:hover > .trait{
    opacity: 0;
}

.conteneurDivisionPoint:hover .logoEquipe{
    transform: translateY(-8px);
    filter: grayscale(0);
    transition : all .5s ease-in-out;
}

.conteneurDivisionPoint:hover .divisionIcone{
    color: gold;
    transition : all .5s ease-in-out;
}

.conteneurDivisionPoint:hover .point{
    background-color: gold;
}

.pointIcone{
    display: block;
    position: relative;
    padding : .5rem;
    border-radius: 50%;
}

.point{
    display: block;
    position: relative;
    width: 9px;
    height: 9px;
    background-color: rgb(186, 194, 204);
    border-radius: 50%;
    transition : all .5s ease-in-out
}

.videoDivision{
    display: block;
    position: relative;
    width: 400px;
    height: 180px;
}

.videoDivision>video{
    width: 100%;
}

.dataLecture{
    resize: inherit;
}

.conteneurChoixImage{
    position: relative;
    width: 35%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.cercleInfini{
    position: absolute;
    width: 100%;
    padding-top:100%;
    border: 3px solid;
    border-radius: 50%;
    border-color: gold transparent gold;
    animation : tourne 4s linear infinite;
}

@keyframes tourne{
    100%{
        transform:rotate(360deg)
    }
}

.imageJoueur{
    width: 100%;
    border-radius: 50%;
    opacity: 1;
}

/*** Jouer au jeu ***/

#conteneurJouerJeu{
	height: 100vh;
	padding-top: 3rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

#conteneurJouerJeuGauche{
	width: 40%;
	display: flex;
	flex-flow: column nowrap;
	align-content: center;
	justify-content: center;
}

#conteneurJouerJeuDroit{
	width: 40%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

#conteneurJouerJeuDroit span{
	text-align: center;
	margin-bottom: .5rem;
}

.titreJouerJeu{
	color: white;
	font-size: 2rem;
}

.titreJouerJeuMain{
	color: gold;
	font-size: 4rem;
	font-weight: bold;
	text-transform: uppercase;
}

.textJouerJeu{
	color: white;
	font-size: 1rem;
}

.boutonJouerJeu{
	width: 20%;
	text-align: center;
	text-decoration: none;
	border: 5px double white;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-top: 3rem;
	padding-left: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 3rem;
	color: black;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.25rem;
	background-color: rgb(208, 168, 92);
	transition: all .5s ease-in-out;
}

.boutonJouerJeu:hover{
	background-color: rgb(255, 213, 136);
	transition: all .5s ease-in-out;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	font-size: 1.5rem;

}

/* PAGE EQUIPES */

.containerEquipePrincipal{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	background: black;
}

.containerEquipePrincipal > div{
	width: 80%;
}

.containerEquipePrincipal > div > a{
	text-decoration: none;
	color: black;
}

.containerEquipePrincipal > div > a:hover .containerEquipe{
	background: rgba(200, 200, 200, 1);
}

.titreEquipe{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	color: white;
}

.titreEquipe > div{
	width: 10%;
}

.titreEquipe2{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	color: white;
}

.titreEquipe2 > div{
	width: 14%;
}

.ligne{
	width: 45%;
	height: 0;
	border-top: solid 2px white;
	box-shadow: 4px 2px 2px white;
}

.containerEquipe{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	border-top: solid 2px black;
	border-bottom: solid 2px black;
	background: white;
	transition: all .5s ease; 
}

.imageEquipe{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	width: 20%;
}

.imageEquipe > img{
	width: 60%;
}

.containerInfosEquipe{
	width: 60%;
}

.containerInfosEquipe > h3{
	text-transform: uppercase;
}

.infosEquipe{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
}

.infosEquipe > div{
	padding: 0 1.5%;
	display: flex;
	flex-flow: row nowrap;
}

.infosEquipe > div > div{
	font-weight: bold;
}

.bilanEquipe{
	width: 20%;
}

.bilanEquipe > div{
	display: flex;
	flex-flow: row nowrap;
}

.bilanEquipe > div > div{
	font-weight: bold;
	padding: 0 1.5%;
}

.positionEquipe{
	font-weight: bold;
	padding: 0 2% 0 0;
}

/* COULEURS DE CHAQUE EQUIPE */

/* Atlantic */

.colorBorderEquipe1{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #007A33;
	border-bottom: solid 3px #007A33;
	box-shadow: 2px 2px #BA9653;
}

.colorTitreEquipe1{
	color: #007A33;
}

.colorBorderEquipe2{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #000000;
	border-bottom: solid 3px #000000;
	box-shadow: 2px 2px #FFFFFF;
}

.colorTitreEquipe2{
	color: #000000;
}

.colorBorderEquipe3{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #006BB6;
	border-bottom: solid 3px #006BB6;
	box-shadow: 2px 2px #F58426;
}

.colorTitreEquipe3{
	color: #006BB6;
}

.colorBorderEquipe4{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #ed174c;
	border-bottom: solid 3px #ed174c;
	box-shadow: 2px 2px #006bb6;
}

.colorTitreEquipe4{
	color: #ed174c;
}

.colorBorderEquipe5{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #000000;
	border-bottom: solid 3px #000000;
	box-shadow: 2px 2px #ce1141;
}

.colorTitreEquipe5{
	color: #000000;
}

/* Central */

.colorBorderEquipe6{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #000000;
	border-bottom: solid 3px #000000;
	box-shadow: 2px 2px #CE1141;
}

.colorTitreEquipe6{
	color: #000000;
}

.colorBorderEquipe7{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #860038;
	border-bottom: solid 3px #860038;
	box-shadow: 2px 2px #FDBB30;
}

.colorTitreEquipe7{
	color: #860038;
}

.colorBorderEquipe8{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #1d42ba;
	border-bottom: solid 3px #1d42ba;
	box-shadow: 2px 2px #C8102E;
}

.colorTitreEquipe8{
	color: #1d42ba;
}

.colorBorderEquipe9{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #002D62;
	border-bottom: solid 3px #002D62;
	box-shadow: 2px 2px #FDBB30;
}

.colorTitreEquipe9{
	color: #002D62;
}

.colorBorderEquipe10{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #00471B;
	border-bottom: solid 3px #00471B;
	box-shadow: 2px 2px #EEE1C6;
}

.colorTitreEquipe10{
	color: #00471B;
}

/* Southeast */

.colorBorderEquipe11{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #e03a3e;
	border-bottom: solid 3px #e03a3e;
	box-shadow: 2px 2px #C1D32F;
}

.colorTitreEquipe11{
	color: #e03a3e;
}

.colorBorderEquipe12{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #1d1160;
	border-bottom: solid 3px #1d1160;
	box-shadow: 2px 2px #00788C;
}

.colorTitreEquipe12{
	color: #1d1160;
}

.colorBorderEquipe13{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #98002E;
	border-bottom: solid 3px #98002E;
	box-shadow: 2px 2px #F9A01B;
}

.colorTitreEquipe13{
	color: #98002E;
}

.colorBorderEquipe14{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #0077c0;
	border-bottom: solid 3px #0077c0;
	box-shadow: 2px 2px #C4ced4;
}

.colorTitreEquipe14{
	color: #0077c0;
}

.colorBorderEquipe15{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #002B5C;
	border-bottom: solid 3px #002B5C;
	box-shadow: 2px 2px #e31837;
}

.colorTitreEquipe15{
	color: #002B5C;
}

/* Pacific */

.colorBorderEquipe16{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #1D428A;
	border-bottom: solid 3px #1D428A;
	box-shadow: 2px 2px #ffc72c;
}

.colorTitreEquipe16{
	color: #1D428A;
}

.colorBorderEquipe17{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #c8102E;
	border-bottom: solid 3px #c8102E;
	box-shadow: 2px 2px #1d428a;
}

.colorTitreEquipe17{
	color: #c8102E;
}

.colorBorderEquipe18{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #552583;
	border-bottom: solid 3px #552583;
	box-shadow: 2px 2px #FDB927;
}

.colorTitreEquipe18{
	color: #552583;
}

.colorBorderEquipe19{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #1d1160;
	border-bottom: solid 3px #1d1160;
	box-shadow: 2px 2px #e56020;
}

.colorTitreEquipe19{
	color: #1d1160;
}

.colorBorderEquipe20{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #5a2d81;
	border-bottom: solid 3px #5a2d81;
	box-shadow: 2px 2px #63727A;
}

.colorTitreEquipe20{
	color: #5a2d81;
}

/* Southwest */

.colorBorderEquipe21{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #00538C;
	border-bottom: solid 3px #00538C;
	box-shadow: 2px 2px #B8C4CA;
}

.colorTitreEquipe21{
	color: #00538C;
}

.colorBorderEquipe22{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #CE1141;
	border-bottom: solid 3px #CE1141;
	box-shadow: 2px 2px #2C7AA1;
}

.colorTitreEquipe22{
	color: #CE1141;
}

.colorBorderEquipe23{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #12173F;
	border-bottom: solid 3px #12173F;
	box-shadow: 2px 2px #5D76A9;
}

.colorTitreEquipe23{
	color: #12173F;
}

.colorBorderEquipe24{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #C8102E;
	border-bottom: solid 3px #C8102E;
	box-shadow: 2px 2px #85714D;
}

.colorTitreEquipe24{
	color: #C8102E;
}

.colorBorderEquipe25{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #000000;
	border-bottom: solid 3px #000000;
	box-shadow: 2px 2px #c4ced4;
}

.colorTitreEquipe25{
	color: #000000;
}

/* Northwest */

.colorBorderEquipe26{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #0E2240;
	border-bottom: solid 3px #0E2240;
	box-shadow: 2px 2px #FEC524;
}

.colorTitreEquipe26{
	color: #0E2240;
}

.colorBorderEquipe27{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #0C2340;
	border-bottom: solid 3px #0C2340;
	box-shadow: 2px 2px #236192;
}

.colorTitreEquipe27{
	color: #0C2340;
}

.colorBorderEquipe28{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #007ac1;
	border-bottom: solid 3px #007ac1;
	box-shadow: 2px 2px #ef3b24;
}

.colorTitreEquipe28{
	color: #007ac1;
}

.colorBorderEquipe29{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #000000;
	border-bottom: solid 3px #000000;
	box-shadow: 2px 2px #E03A3E;
}

.colorTitreEquipe29{
	color: #000000;
}

.colorBorderEquipe30{
	border-radius: 15px 5px 15px 0;
	border-top: solid 3px #002B5C;
	border-bottom: solid 3px #002B5C;
	box-shadow: 2px 2px #F9A01B;
}

.colorTitreEquipe30{
	color: #002B5C;
}

/* PAGE NEWS */

.containerNewsPrincipal{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	background: black;
}

.containerNewsPrincipal > div{
	display: flex;
	flex-flow: row nowrap;
	width: 80%;
}

.ensembleNews{
	width: 80%;
}

.ensembleEquipes{
	text-align: center;
	width: 20%;
}

.ensembleEquipes > h3{
	color: white;
}

.ensembleEquipes > a > img{
	width: 35%;
	transition: all .5s ease;
}

.ensembleEquipes > a:hover img{
	filter: grayscale(80%);
	transform: scale(1.1);
}

.containerNews{
	width: 100%;
	height: 160px;
	display: flex;
	flex-flow: row nowrap;
	border: solid 2px white;
	background: white;
	overflow: hidden;
	border-radius: 10px 0 10px 0;
}

.imageNews{
	background: black;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 30%;
}

.containerInfosNews{
	width: 70%;
	height: 100%;
	padding: 1% 2% 0 2%;
}

.newsType{
	font-size: .7em;
	text-transform: uppercase;
}

.newsTitre{
	text-transform: uppercase;
	font-weight: bold;
}

.newsEditeur{
	height: 100%;
}

.newsEditeur > div{
	position: relative;
	float: right;
	padding: 0 2% 0 0;
}

/* DETAILS EQUIPE */

.containerDetailsEquipe{
	width: 100%;
	border: solid 2px white;
	background: white;
	border-radius: 5px;
}

.infosDetailsEquipe{
	width: 100%;
	display: flex;
	flex-flow: row nowarp;
}

.infosDetailsEquipe > div{
	width: 16.5%;
	text-align: center;
	box-shadow: 3px 4px 5px grey;
	border-radius: 5px;
	border-left: solid 2px black;
	border-top: solid 1px black;
	margin: 0 1%;
}

.equipeDetailsResultats{
	font-weight: bold;
	font-size: 1.5em;
}

.resultatsDisplay{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.competDetailsEquipe{
	font-size: 1.1em;
	font-style: italic;
}

.containerComposition{
	position: relative;
	width: 100%;
	text-align: center;
}

.titreCompo{
	display: flex;
	flex-flow: row nowarp;
	justify-content: center;
}

.composition1{
	position: absolute;
	width: 100%;
	top: 0;
	text-align: center;
}

.composition1 > div > h3{
	width: 500px;
	padding: 0;
	background: rgba(255, 255, 255, 0.7);
}

.composition1 > div > img{
	width: 100px;
	overflow: hidden;
	border: solid 2px black;
	border-radius: 10px 0 10px 0;
	box-shadow: 2px 2px 2px white;
	margin: 0 1%;
}

.composition2{
	position: absolute;
	width: 100%;
	top: 125px;
	text-align: center;
}

.composition2 > div > h3{
	width: 500px;
	padding: 0;
	background: rgba(255, 255, 255, 0.7);
}

.composition2 > div > img{
	width: 100px;
	overflow: hidden;
	border: solid 2px black;
	border-radius: 0 10px 0 10px;
	box-shadow: 2px 2px 2px white;
	margin: 0 1%;
}

.composition3{
	position: absolute;
	width: 100%;
	top: 250px;
	text-align: center;
}

.composition3 > div > h3{
	width: 500px;
	padding: 0;
	background: rgba(255, 255, 255, 0.7);
}

.composition3 > div > img{
	width: 100px;
	overflow: hidden;
	border: solid 2px black;
	border-radius: 10px 0 10px 0;
	box-shadow: 2px 2px 2px white;
	margin: 0 1%;
}

.composition4{
	position: absolute;
	width: 100%;
	top: 375px;
	text-align: center;
}

.composition4 > div > h3{
	width: 500px;
	padding: 0;
	background: rgba(255, 255, 255, 0.7);
}

.composition4 > div > img{
	width: 100px;
	overflow: hidden;
	border: solid 2px black;
	border-radius: 0 10px 0 10px;
	box-shadow: 2px 2px 2px white;
	margin: 0 1%;
}

.composition5{
	position: absolute;
	width: 100%;
	top: 500px;
	text-align: center;
}

.composition5 > div > h3{
	width: 500px;
	padding: 0;
	background: rgba(255, 255, 255, 0.7);
}

.composition5 > div > img{
	width: 100px;
	overflow: hidden;
	border: solid 2px black;
	border-radius: 10px 0 10px 0;
	box-shadow: 2px 2px 2px white;
	margin: 0 1%;
}

/* POPUP */

#formConnexion{
	background: white;
	padding: 1% 2% 2% 2%;
	width: 40%;
	text-align: center;
	border: solid 2px grey;
	border-radius: 15px;
	box-shadow: 2px 2px 2px #FDB927;
	z-index: 4;
}

.fond{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 100;
	display: block;
	background: white;
	filter: blur(10rem);
	width: 100%;
	height: 100%;
	transition: all 1s;
	z-index: 3;
}

.typeButton{
	width: 30%;
	height: 35px;
	border: solid 2px grey;
	margin: 1% 0 0 0;
}

.typeButton:hover{
	border: dashed 2px black;
	opacity: .5;
}

.obligatoire{
	font-style: italic;
	font-size: .8em;
}

.titre{
	text-transform: uppercase;
	color: #552583;
}

.fermer{
	padding: 3px 6px;
	border: solid 2px grey;
	border-radius: 50%;
	color: #FDB927;
	background: #552583;
	position: absolute;
	text-decoration: none;
	margin-left: 21%;
	margin-top: -25px;
	font-weight: bold;
}

.bulleConnexion{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	position: fixed;
	z-index: 1000;
	bottom: 40%;
	transform: scale(0) rotate(-12deg);
	transition: all 1s;
	opacity: 0;
}

.bulleConnexion:target{
	transform: scale(1) rotate(0);
	opacity: 1;
}

#boutons{
	position: relative;
	left: 35%;
}

#boutons > input{
	padding: 1% 2%;
	color: #FDB927;
	background: #552583;
	border-radius: 5px;
}

.tablePopup{
	width: 100%;
}

.popupColonne1{
	width: 20%;
	text-align: right;
}

.popupColonne2{
	width: 30%;
}

.popupColonne2 > input{
	width: 80%;
	border-radius: 5px 0 5px 0;
	border: solid 2px #552583;
	box-shadow: 2px 2px 2px #FDB927;
}

.popupColonne3{
	width: 50%;
}

.popupColonne3 > textarea{
	width: 80%;
	height: 100%;
	border-radius: 5px 0 5px 0;
	border: solid 2px #552583;
	box-shadow: 2px 2px 2px #FDB927;
}

/************************************************************************************************************************/
